<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Circular slider demo</title>
    <style>
      #sliders {
        width: 400px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="results">
        <div id="spinner1Results">&nbsp;</div>
        <div id="spinner2Results">&nbsp;</div>
      </div>
      <div id="sliders"></div>
    </div>
    <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
    <script
      type="text/javascript"
      src="<%= htmlWebpackPlugin.files.js[i] %>"
    ></script>
    <% } %>
    <script src="index.js"></script>
  </body>
</html>
